body {
  background: Linear-gradient(to bottom right, #201610, #f6d7b6);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif, 'Garamond (serif)';
}

.container {
  background: white;
  border: 4px double #ff6550;
  border-radius: 25px;
  padding: 30px 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 350px;
  width: 100%;
  color: #fff;
}

p {
    max-width: 700px;
    justify-content: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: #007bff;
  color: white;
  border-radius: 8px;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

iframe {
  border-radius: 12px;
}

h2 {
 color: #333;
 margin-bottom:15px;
 text-align: center;

}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#overlay {
  display: none;
position: fixed;
top: 0; left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: 1;
}

#Alert {
  display: none;
position: fixed;
top: 50%; left: 50%;
border-radius: 25px;
transform: translate(-50%, -50%);
background: white; 
box-shadow: 0 0 7em #E51B1A;
padding: 30px 40px;
}
